#result{
    margin-top:10%;
    padding: 2%;
    background-color: aqua;
    border-radius: 3%;
    margin-left: 40%;
}

#header{
    background-color: green;
    border-radius: 3%;
    padding: 1%;
    text-align: center;
}


#value{
    font-size: 30px;
    
}

.col-md-3{
    background-color: aquamarine;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

