<div class="container-fluid">
  <div class="row justify-content-left text-center">
    <img src="assets/images/weather.svg" />
    <div id="search-box" class="col-md-3 align-selft-center">
      <h3 id="">Search for weather forecast</h3>
      <form [formGroup]="weatherForm">
        <div class="form-group">
          <label for="text"></label>
          <input
            type="text"
            id="locationName"
            class="form-control"
            placeholder="location"
            formControlName="locationName"
            required
          />
        </div>
        <div class="button-box">
          <button type="submit" class="button-search" (click)="onSubmit()">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
